<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jesus.readregister">

    <application
        android:name="model.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_exe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".App.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".App.ListarLivrosActivity" />
        <activity android:name=".App.layouts.Home" />
        <activity
            android:name=".App.CasdastroLivrosActivity"
            android:parentActivityName=".App.ListarLivrosActivity" />
        <activity android:name=".App.layouts.RvItemLivro" />
        <activity android:name=".App.layouts.Cadastro" />
        <activity
            android:name=".App.LivroDetail"
            android:parentActivityName=".App.ListarLivrosActivity" />
        <activity android:name=".App.layouts.ItemCadastro" />
        <activity android:name=".App.ExibirComentarioActivity" />
        <activity android:name=".App.AdicionarComentario" />
        <activity android:name=".App.layouts.Search"></activity>
    </application>

</manifest>